<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="/styles/request.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<script>
    var tkn = localStorage.getItem("token");
    var role = localStorage.getItem("role");
    var user = localStorage.getItem("user");
    if (!tkn) {
        window.location.replace("/");
    }


    function logoutfnc() {
        localStorage.clear();
        window.location.replace("/");

    }
</script>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/">Admin Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Components</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="/invite">Invite Guest</a>
                        </li>
                        <li>
                            <a href="/admin/func">Resources</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2 " id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">Requests
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                <i class="fa fa-fw fa-circle"></i>
              </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">Pending Requests:</h6>
                        <% pend.forEach(function(requests) {%>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/request">
                                <strong><%= requests.L_Name %></strong>
                                <span class="small float-right text-muted"><%= requests.Slot %></span>
                                <div class="dropdown-message small">
                                    <%= requests.Details %>
                                </div>
                            </a>
                            <% }); %>

                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for...">
                            <span class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" onClick="logoutfnc()" role="button" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container">
            <h3 style="margin-bottom: 2vh;">Guests</h3>
            <form class="row gy-2 gx-3 align-items-center" style="margin-bottom: 2vh;" action="/admin/guest" method="POST">
                <div class="col-auto">

                    <input type="text" class="form-control" id="autoSizingInput" name="GName" required placeholder="Guest Name">
                </div>
                <div class="col-auto">

                    <input type="email" class="form-control" name="GEmail" required placeholder="Guest Email">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div class="table-responsive-md" style="margin-bottom: 4vh;">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">G_ID</th>
                            <th scope="col">GName</th>
                            <th scope="col">GEmail</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% guest.forEach(function(fac) {%>
                            <tr>

                                <td>
                                    <a>
                                        <%= fac.G_ID %>
                                    </a>
                                </td>
                                <td>
                                    <%= fac.GName %>
                                </td>
                                <td>
                                    <%= fac.GEmail %>
                                </td>
                                <td>
                                    <a href="/admin/guest/delete/<%= fac.G_ID %>" onclick="return confirm('Are you sure you want to delete this item')"><i class="fas fa-trash"></i></a>
                                </td>

                            </tr>
                            <% }); %>

                    </tbody>
                </table>
            </div>
            <hr style="margin-bottom: 2vh;">
            <h3 style="margin-bottom: 2vh;">Lecture Halls</h3>
            <form class="row gy-2 gx-3 align-items-center" style="margin-bottom: 2vh;" action="/admin/hall" method="POST">
                <div class="col-auto">

                    <input type="text" class="form-control" required name="HName" placeholder="Hall Name">
                </div>
                <div class="col-auto">

                    <input type="text" class="form-control" required name="Link" placeholder="Link">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div class="table-responsive-md" style="margin-bottom: 2vh;">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">H_ID</th>
                            <th scope="col">HName</th>
                            <th scope="col">Link</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% hall.forEach(function(fac) {%>
                            <tr>

                                <td>
                                    <a>
                                        <%= fac.H_ID %>
                                    </a>
                                </td>
                                <td>
                                    <%= fac.HName %>
                                </td>
                                <td>
                                    <a href="<%= fac.Link %>" target="_blank">
                                        <%= fac.Link %>
                                    </a>

                                </td>
                                <td>
                                    <a href="/admin/hall/delete/<%= fac.H_ID %>" onclick="return confirm('Are you sure you want to delete this item')"><i class="fas fa-trash"></i></a>
                                </td>

                            </tr>
                            <% }); %>

                    </tbody>
                </table>
            </div>
            <hr style="margin-bottom: 2vh;">
            <h3 style="margin-bottom: 2vh;">Classes</h3>
            <form class="row gy-2 gx-3 align-items-center" style="margin-bottom: 2vh;" action="/admin/class" method="POST">
                <div class="col-auto">

                    <input type="text" class="form-control" required name="Class" placeholder="Class Details">
                </div>
                <div class="col-auto">

                    <input type="text" class="form-control" required name="CLink" placeholder="Class Link">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div class="table-responsive-md" style="margin-bottom: 2vh;">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">C_ID</th>
                            <th scope="col">Class</th>
                            <th scope="col">CLink</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% class1.forEach(function(fac) {%>
                            <tr>

                                <td>
                                    <a>
                                        <%= fac.C_ID %>
                                    </a>
                                </td>
                                <td>
                                    <%= fac.Class %>
                                </td>
                                <td>
                                    <a href="<%= fac.CLink %>" target="_blank">
                                        <%= fac.CLink %>
                                    </a>

                                </td>
                                <td>
                                    <a href="/admin/class/delete/<%= fac.C_ID %>" onclick="return confirm('Are you sure you want to delete this item')"><i class="fas fa-trash"></i></a>
                                </td>

                            </tr>
                            <% }); %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>



</body>

</html>