<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Home</title>
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<script>
    var tkn = localStorage.getItem("token");
    var role = localStorage.getItem("role");
    var user = localStorage.getItem("user");
    if (!tkn) {
        window.location.replace("/");
    }

    function logoutfnc() {
        localStorage.clear();
        window.location.replace("/");

    }
</script>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/">AMRITA-Faculty Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Schedule Lecture</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Components</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="/invite">Invite Guest</a>
                        </li>
                        <li>
                            <a id="lec">Lecture Requests </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/rooms">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Rooms</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" id="books">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Bookings</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" onClick="logoutfnc()" role="button" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container">
            <h3>Accomodation booked</h3>
            <div class="table-responsive-md">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Room No</th>
                            <th scope="col">Room Type</th>
                            <th scope="col">Booked Date</th>
                            <th scope="col">Guest</th>

                        </tr>
                    </thead>
                    <tbody>

                        <% rooms.forEach(function(requests) {%>
                            <tr>

                                <td>
                                    <a>
                                        <%= requests.roomno %>
                                    </a>
                                </td>
                                <td>
                                    <%= requests.description %>
                                </td>
                                <td>
                                    <%= requests.booked %>
                                </td>
                                <td>
                                    <%= requests.GName %>
                                </td>

                            </tr>
                            <% }); %>

                    </tbody>
                </table>
            </div>
            <h3>Transportation Details</h3>
            <div class="table-responsive-md">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Booking ID</th>
                            <th scope="col">Guest</th>
                            <th scope="col">Pickup Date</th>
                            <th scope="col">Pickup Time</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% trans.forEach(function(requests) {%>
                            <tr>

                                <td>
                                    <a>
                                        <%= requests.TID %>
                                    </a>
                                </td>
                                <td>
                                    <%= requests.GName %>
                                </td>
                                <td>
                                    <%= requests.pickdate %>
                                </td>
                                <td>
                                    <%= requests.picktime %>
                                </td>

                            </tr>
                            <% }); %>

                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <script>
        document.getElementById("lec").href = "/lecture/" + localStorage.getItem("user");
        document.getElementById("books").href = "/bookings/" + localStorage.getItem("user");

        // document.getElementById("F_ID").value = usr;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>



</body>

</html>